<h1>Company</h1>

<div class="row justify-content-center">
  <div class="col-xs-12 col-sm-12 col-md-12">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th>Nombre</th>
          <th>Empleados</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @companies.each do |company| %>
          <tr>
            <td><%= link_to company.name, company %></td>
            <td><%= company.employees.count %></td>
            <td>
              <%= link_to 'Edit', edit_company_path(company), class: 'btn btn-outline-info'%>
              <%= link_to 'Destroy', company, class: 'btn btn-outline-danger', 
              method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>

<%= link_to 'New Company', new_company_path %>
