<div class="row justify-content-center">
  <div class="col-xs-12 col-sm-12 col-md-6">
    <h3> Compañia : <%= @company.name %></h3>

    <%= form_with(model: [@company, @employee]) do |form| %>
      <%= form.hidden_field :company_id, value: @company.id %>

      <div class="form-group">
        <%= form.label :first_name, 'Nombre' %>
        <%= form.text_field :first_name, id: :employee_first_name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :last_name, 'Apellido' %>
        <%= form.text_field :last_name, id: :employee_last_name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :email, 'Email' %>
        <%= form.email_field :email, id: :employee_email, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :area_id, "Area" %>
        <%= form.select :area_id, Area.pluck(:name, :id), class: 'form-control' %>
      </div>

      <div class="actions">
        <%= form.submit 'Ingresar', class: 'btn btn-primary'%>
      </div>
    <% end %>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-xs-12 col-sm-12 col-md-12">
    <table class="table mt-3">
      <thead class="thead-dark">
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Email</th>
          <th>Area</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @company.employees.each do |employee| %>
        <tr>
          <td><%= employee.first_name %></td>
          <td><%= employee.last_name %></td>
          <td><%= employee.email %></td>
          <td><%= employee.area.name %></td>
          <td>
            <%= link_to 'Eliminar', company_employee_path(@company, employee),
            class: 'btn btn-outline-danger btn-sm', method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
